<!-- Menu Bar -->
<div class="ui menu">
  <div class="ui container">
    <a href="#" class="header item">
      <img class="logo"
           src="assets/images/ng-book-2-minibook.png" />
      ng-book 2
    </a>
    <div class="header item borderless">
      <h1 class="ui header">
        Angular Forms
      </h1>
    </div>
  </div>
</div>

<div class="ui stackable grid container">
  <div class="ui main text container ten wide column">
    <app-demo-form-sku></app-demo-form-sku>
    <hr>
    <app-demo-form-sku-with-builder></app-demo-form-sku-with-builder>
  </div>
</div>

